.content {
    
    align-items: center;
    justify-content: center;
}

.content1 {
    
    align-items: center;
    justify-content: center;
}

.content2 {
    
    align-items: center;
    justify-content: center;
}

#aboutCardsContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 1920px;
    align-items: center;
    margin-top: 300px;
    flex-wrap: wrap;
}
