.content {
    text-align: center;
    line-height: 2;
}

.content1 {
    text-align: center;
    line-height: 2;
}

.content2 {
   text-align: center;
   line-height: 2;
}

#aboutCardsContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 800px;
    width: 1860px;
    align-items: center;
    margin-top: 300px;
    flex-wrap: wrap;
}
